body {
    background: rgb(67, 67, 73);

    --var-pnet-ecl-bg-card: rgb(95, 95, 95);
    --var-pnet-ecl-bg-card-edge: rgb(189, 189, 189);
    --var-pnet-ecl-bg-card-height: 140px;
    --var-pnet-ecl-bg-card-width: 93px;    
    --var-pnet-ecl-bg-diffuser: linear-gradient(0deg, rgb(19, 21, 27) 40%, rgba(255, 255, 255, 0) 70%);

    --var-pnet-ecl-card-shadow: 2px 2px 4px 2px #00000066;

    --var-pnet-ecl-animspeed-card: 250ms;
    --var-pnet-ecl-animspeed-text: 500ms;

    --var-pnet-ecl-primary-button-color: rgb(182, 25, 85);

    --var-pnet-ecl-skeleton-c1: rgb(26, 26, 26);
    --var-pnet-ecl-skeleton-c2: rgb(53, 53, 53);

}  

.pnet-expcardlist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;    
}

.pnet-ecl {
    &-card {
        position: relative;
        outline: solid 1px var(--var-pnet-ecl-bg-card-edge);
        border-radius: 5px;        

        display: flex;
        overflow: hidden; 

        max-height: var(--var-pnet-ecl-bg-card-height);

        font-family: 'Poppins';

        user-select: none;
        box-shadow: var(--var-pnet-ecl-card-shadow)        ;

        
    }
}

.pnet-eclc { 
    opacity: 0;        
    
    &.loaded {                            
        animation: card-fadein 1.5s forwards;
    }

    &.skeleton {
        opacity: 1;
        width: var(--var-pnet-ecl-bg-card-width);
        height: var(--var-pnet-ecl-bg-card-height);    

        animation: skeleton 2500ms forwards infinite;

        border-radius: 5px;
    }

    &-img {
        width: var(--var-pnet-ecl-bg-card-width);
        height: var(--var-pnet-ecl-bg-card-height);    

        background-size: cover !important; 

        z-index: 1;
    }

    &-title {        

        color: white;       // todo: change
        font-weight: 100;
        line-height: 1rem;

        font-size: 0.9rem;        
    }

    &-meta {
        margin-top: 6px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        color: #fff;
        font-size: 0.75rem;
        font-weight: 200;
        
        line-height: 1rem;
    }
    
    &-score {
        border: solid 1px rgba(255, 255, 255, 0.315);
        padding: 2px 4px;
        font-weight: 400;        
    }

    &-details {       
        padding: 12px;         
        animation: ecl-fadein var(--var-pnet-ecl-animspeed-card) forwards;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        flex-direction: column;

        text-shadow: 1px 2px 3px rgb(0 0 0 / 85%);

        & > * {
            animation: text-movein var(--var-pnet-ecl-animspeed-text) forwards;
            animation-delay: 100ms;
            opacity: 0;
        }   

        width: 0;        

        & > * {
            z-index: 1 ;
        }    
    }

    &-reviewmetas {
        margin-left: 1px;
    }

    &-button {
        display: inline-block;
        text-shadow: none;
        margin-top: 12px;
        font-family: 'Poppins';
        background-color: rgb(138, 138, 138);
        border-radius: 0;
        text-decoration: none;
        border: none;
        padding: 4px 14px;   
        font-size: 0.8em;     
        font-weight: 400;
        color: #fff;
        border-radius: 4px;
        background-color: var(--var-pnet-ecl-primary-button-color)
    }

    &-bg {
        filter: blur(20px) brightness(0.9);
        position: absolute;
        top: -20%; left: -20%; bottom: -20%; right: -20%;
        z-index: -1;
        background-size: 200px 1200px !important;        
        animation: none;
        opacity: 1;        

        &::after {
            content: ".";
            background: var(--var-pnet-ecl-bg-diffuser);

            top: -20%; left: -20%; bottom: -20%; right: -20%;
            position: absolute;
        }
    }

}

@keyframes ecl-fadein {
    0% {
        width: 0;
    }    
    100% {
        width: 200px;
    }    
}

@keyframes card-fadein {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }    
}

@keyframes text-movein {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }    
    50% {
        transform: translateX(0);
    }

    100% {        
        opacity: 1;
    }    
}

@keyframes skeleton {
    0% {
        background-color:var(--var-pnet-ecl-skeleton-c1);        
    }        
    50% {        
        background-color:var(--var-pnet-ecl-skeleton-c2);        
    }    
    100% {        
        background-color:var(--var-pnet-ecl-skeleton-c1);        
    }    
}