body {
    background: rgb(67, 67, 73);

    --var-pnet-ecl-bg-card: rgb(95, 95, 95);
    --var-pnet-ecl-bg-card-edge: rgb(189, 189, 189);

}  

.pnet-expcardlist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    // background-color:pink;
}

.pnet-ecl {
    &-card {
        position: relative;
        outline: solid 1px var(--var-pnet-ecl-bg-card-edge);
        // background-color: var(--var-pnet-ecl-bg-card);
        border-radius: 5px;        

        display: flex;
        overflow: hidden; 

        // & > * {
        //     display: inline-block;
        // }

        font-family: 'Poppins';
        
    }
}

.pnet-eclc {        

    &-img {
        width: 93px;
        height: 140px;    

        z-index: 1;
    }

    &-title {        

        color: white;
        font-weight: 100;
        line-height: 1rem;

        font-size: 1rem;
    }

    &-details {                
        animation: ecl-fadein 600ms forwards;

        & > * {
            animation: text-movein 1000ms forwards;
            animation-delay: 100ms;
            opacity: 0;
        }   

        padding: 12px;

        width: 0;        

        & > * {
            z-index: 1 ;
        }    
    }

    &-button {
        font-family: 'Poppins';
        background-color: rgb(138, 138, 138);
        border-radius: 12px;
        border: none;
        padding: 4px 14px;
        color: #fff;
    }

    &-bg {
        filter: blur(20px) brightness(0.5);
        position: absolute;
        top: -20%; left: -20%; bottom: -20%; right: -20%;
        z-index: -1;
        background-size: 200px 1200px !important;        
        animation: none;
        opacity: 1;
    }

}

@keyframes ecl-fadein {
    0% {
        width: 0;
    }    
    100% {
        width: 200px;
    }    
}

@keyframes text-movein {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }    
    50% {
        transform: translateX(0);
    }

    100% {        
        opacity: 1;
    }    
}